* {
	padding: 5px;
	margin: 0px;
}
body {
	background: Lavender;		
}
div {
	border: 1px solid blue;
	padding: 0px;
}

header {
	border: 2px solid MidnightBlue;
	border-radius: 4px;
	padding: 7px;
	background: #AAD4B9;
	min-height: 150px;
	clear: both;
	height: auto;
	overflow: all;
}

main {
	display: none;
	border: none;
}
	main>div {
		background: Lavender; /* PowderBlue;   #AAD4B9; */
		border: none;
	}	
/*	main>div:nth-child(2) {	*/

div.sheet {
	margin: 0 10px 10px 10px;
	border: none;
}	
div.sheet > div:first-child {
	padding: 0px;
	border: none;
/*	border-bottom: none;
	padding: 0 10px 0 10px;		*/
}			
div.sheet>div:last-child {
	border: none;	
/*	border-top: none;
	padding: 0 10px 10px 10px;	*/
	padding: 0;

}

.sheetsTab {
	background: Lavender;	/*	#AAD4B9;  #B1B1B9;    подобрать цвет!    */
	border: none;
	text-align: right;
	padding: 15px 5px 0 5px;	
	margin: 10px 10px 0 10px;
}
	.sheetsTab a {
		vertical-align: text-bottom;
	}
	.sheetsTab a span {
		display: inline-block;
		border-radius: 10px 10px 0 0;
		width: 100px;
		margin-right: 5px;
		text-align: center;
		color: #6E718C;
		background: Silver;
		padding: 5px;
	}
	.sheetsTab a span.active {
		background: #7DB9CF;	
		border: 1px solid blue;
		border-bottom: none;
		font-weight: bold;
		color: white;
	}

div.empty {
	background: #AFCDE7;
	text-align: center;
}
div.colHeader {
	overflow-x: hidden;
	overflow-y: scroll;
}
div.rowHeader {
	overflow-x: scroll;
	overflow-y: hidden;
}
div.table {
	overflow: scroll;
}

div.empty, div.colHeader {
	height: 35px;
	border-bottom: none;
}
div.empty, div.rowHeader {
	float: left;
	width: 70px;
	border-right: none;
}
div.colHeader, div.table {
	margin-left: 70px;
	width: auto;	
}
div.rowHeader, div.table {
	height: 360px;
}

/* .table table, .colHeader table, .rowHeader table {	*/
main table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	border-collapse: separate;
	text-align: right;
	position: relative;
	padding: 0px;
	background: white;
}
div.table table {
	color: navy;
}

th {
	background: #AFCDE7;
	border: 0px solid blue;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: blue;
	text-shadow: 1px 1px 2px #6338E5, 0 0 1em white;
	padding: 5px;
	width: 70px;
/*	height: 18px;  */
}
td {
	width: 87px; 	
	height: 21px;
	background: #D8E6F3;
	overflow: hidden;
	padding: 5px;
}
	td:hover, td.selected  {
		cursor: text;
		overflow: hidden;
	}	
	td:hover  {
		background: #B1F6D0;
		color: #0B4124;
	}
	td.selected {
		background: #F4CFF7;
		color: #28082B;
	}
	td.selected:hover {
		background: #F2F6C1;
		color: #30330A;
	}	
	td.input {
		padding: 0px;
		margin: 0px;
		overflow: hidden;
	}

input.inGrid {
	background: white;
	border: 1px solid navy;
	margin: 0px;
	height: 19px;
	width: 85px;
}

fieldset {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	float: left;
	width: 20%;

}
fieldset:last-child {
	float: right;
	border: 1px dotted gray;
	width: 30%;
	height: auto;
	overflow: auto;
	overflow-y: scroll;
}
	#outputCurrentState {
		text-align: left;
		border:none;
	}
input[type=number] {
	width: 50px;
};
label {
	width: 150px;
	cursor: pointer;
}
#outputJSON {
	border: none;
/*	font-weight: bolder;		*/
	padding: 5px;
}

