* {
	padding: 5px;
	margin: 5px;
}

div.table {
	border: 1px solid blue;
	overflow: scroll;

}
div {
	border: 1px solid blue;
	padding: 0px;
	margin: 0px;
}
label {
	width: 150px;
	cursor: pointer;
}
hr {
	padding:0;
}

.table table, .colHeader table, .rowHeader table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	border-collapse: collapse;
	text-align: right;
	position:relative;
	padding: 0px;
	margin: 0px;
}

.colHeader table {
	width: 2000px;
}

main {
	display: none;
	padding: 0px;
	margin: 0px;
}

th {
	background: #AFCDE7;
	border: 1px solid white;
	text-align: center;
	font-weight: bold;
	color: white;
	padding: 5px 20px;
	width: 200px;
}
td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	width: 1000px;
	height: 20px;
	background: #D8E6F3;
}

.empty {
	background: #AFCDE7;
	text-align: center;
}

.empty, .colHeader  {
	height: 32px;
}
.colHeader {
	overflow: hidden;
	overflow-y: scroll ;
}
.rowHeader {
	overflow: hidden;
	overflow-x: scroll ;
}

.empty, .rowHeader {
	float: left;
	width: 70px;
}
.colHeader, .table {
	margin-left: 70px;
	width: auto;	
}
.rowHeader, .table {
	height: 300px;
}
.table{
	overflow:auto;
}
fieldset {
	display: inline-block;
}

input[type=number] {
	width: 60px;
};



/*
.empty, .colHeader  {
	display: inline-block;
	height: 30px;
}	

.empty, .rowHeader{
	width: 4%;
}
.colHeader, .table {
	width: 80%;
}
*/



/*
empty">empty</div>
			<div class="colHeader">colHeader</div>	
			<div class="rowHeader">rowHeader</div>
			<div class="table">

*/


