* {
	padding: 5px;
	margin: 0px;
}
html {
	height: 98%;
}
body {
	background: Lavender;
	min-height: 100%;
	padding: 0px;
}
div {
	border: 1px solid blue;	
	padding: 0px;		
}

/*header {
	padding: 5px;
	border: 2px solid MidnightBlue;
	border-radius: 4px;
	padding: 7px;
	background: #AAD4B9;
	min-height: 100px;
	clear: both;
	height: auto;
	overflow: all;
}
	header>button{
		margin-top: 20px;
		display: inline-block;
	}	*/

main {
	position: absolute;
    top: 0px; 
    bottom: 0%;  /* 0px;  2%;   */    
    left: 0px; 
    right: 0px;
    padding: 0px;
}
	main>div {
		background: Lavender; /* PowderBlue;   #AAD4B9; */
		border: none;
	}	

div.formula {
	margin-top: 10px;
	display: none;
	/*vertical-align: middle;*/
	/*min-height: 40px;
	height: 50px;*/
}
div.formula span {
	font-size: 20px;
	font-style: italic;
	color: Silver;
	margin-left: 5px;
	padding: 5px;
}
	div.formula span.formula {
		font-size: 24px;
		margin-left: 10px;
		color: navy;	
	}

div.formula sub {
	padding: 0px;
	font-size: 18px;
}
div.formula input {
	padding-left: 5px;
	border-radius: 3px;
	border: 1px solid blue;
	background: #D8E6F3;
	width: 50%;
	font-weight: bolder;
	font-size: 16px;
	font-family: "Courier New",Courier, monospace, "Comic Sans MS", Tahoma, Verdana;
	color: navy;
}
	div.formula input:focus {
	background: white;
	color: blue;
	}
	div.formula div {
		display: inline-block;
		width: 30%;
		border: 0px;
		float: right;
		white-space: nowrap;
	}
		div.formula div span{
			width: 30%;
			overflow: hidden;
		}
		input.formula.cell {
			width: 120px;
			display: inline-block;
		}

div.sheet {
	/*margin: 0 0px 5px 0px;*/
	border: none;
	color: black;
	display: none;
}
div.sheet.active {
	display: block;
}	

div.sheet > div:first-child {
	padding: 0px;
	border: none;
/*	border-bottom: none;
	padding: 0 10px 0 10px;		*/
}			
div.sheet>div:last-child {
	border: none;	
/*	border-top: none;
	padding: 0 10px 10px 10px;	*/
	padding: 0;

}

.sheetsTab {
	background: Lavender;	/*	#AAD4B9;  #B1B1B9;    подобрать цвет!    */
	border: none;
	text-align: right;
	/*padding: 10px 10px 0 10px;	*/
	padding-bottom: 0px;
	/*margin: 5px 10px 0 10px;*/
}
	.sheetsTab a {
		vertical-align: text-bottom;
	}
	.sheetsTab a span {
		display: inline-block;
		border-radius: 10px 10px 0 0;
		width: 70px;
		margin-right: 5px;
		text-align: center;
		color: #6E718C;
		background: Silver;
		padding: 5px;
		overflow: hidden;
		white-space: nowrap;
	}
	.sheetsTab a span.active {
		background: #7DB9CF;	
		border: 1px solid blue;
		border-bottom: none;
		font-weight: bold;
		color: white;
	}
	.sheetsTab a span.addSheet {
		/*width: 50px;*/
		/*margin-right: 60px;*/
		background: #B1F6D0;
		border: 1px solid #0B4124;
		border-bottom: none;
		font-weight: bold;
		color: #0B4124;
	}

/*div.empty {
	background: #AFCDE7;
	text-align: center;
}
div.colHeader {
	overflow-x: hidden;
	overflow-y: scroll;
}
div.rowHeader {
	overflow-x: scroll;
	overflow-y: hidden;
}*/
div.tableDiv {
	overflow: scroll;
	position: relative;
	border: 1px solid navy;
}

/*div.empty, div.colHeader {
	height: 35px;
	border-bottom: none;
}*/
/*div.rowHeader, div.tableDiv {
	height: 400px;
}*/

/* .tableDiv table, .colHeader table, .rowHeader table {	*/
main table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	border-collapse: separate;
	text-align: right;
	position: relative;
	padding: 0px;
	background: white;
	table-layout: fixed;
	/*width: 100%;	*/
}
div.tableDiv table {
	color: navy;
}

td {
	width: 90px;
	/*max-width: 90px;	*/
	height: 20px;
	padding: 5px;
	background: #D8E6F3;
	overflow: hidden;
  	/*text-overflow: ellipsis;*/
  	white-space: nowrap;
}
	td:hover, td.selected, td.hovered  {
		cursor: text;
	/*	overflow: hidden;	*/
	}	
	td:hover, td.hovered  {
		background: #B1F6D0;
		color: #0B4124;
	}
	td.selected {
		/*overflow: hidden;
		white-space: nowrap;*/
		background: #F4CFF7;
		color: #28082B;
	}
	td.selected:hover {
		background: #F2F6C1;
		color: #30330A;
	}	
	td.input {
		padding: 0px;
		margin: 0px;
		/*width: 98px;*/
	}
	td:last-child {
		/*background: green;*/
		/*width: 40px;*/
	}

th, tr:first-child td {
	background: #AFCDE7;
	border: 0px solid blue;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: blue;
	text-shadow: 1px 1px 2px #6338E5, 0 0 1em white;
	padding: 5px;
	width: 90px;
	/*border: 1px solid navy;*/
	/*width: 70px;*/
	height: 20px;  
}
th, tr:first-child td:first-child {
	border-right: 1px solid blue;
}
	th.selected, tr:first-child td.selected {
		background: #96BAD9;
		color: #181F8C;
	}
	tr:first-child td  {
		border-bottom: 1px solid blue;
	}

input.inGrid {
	background: white;
	border: 1px solid navy;
	margin: 0px;
	height: 19px;
	width: 87px;
}

fieldset {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-right: 15px;
	/*padding:s 5px;*/
	/*float: left;*/
	/*width: 30%;*/
	/*min-width: 250px;*/
}
/*	fieldset:last-child {
		float: right;
		width: 30%;
	}
	#outputCurrentState {
		text-align: left;
		border:none;
	}*/
/*fieldset select {
	width: 100px;	
}*/

button {
	min-width: 70px;
}
input[type=number] {
	width: 50px;
};
label {
	width: 150px;
	cursor: pointer;
}
#outputJSON {
	border: none;
	padding: 5px;
}
span.error {
	color: red;
	font-weight: bold;
}

#divScroll {
	z-index: 1;
/*	position: relative;*/
/*	opacity: 0;

	width: 2016px;
	height: 916px;
*/	
	border: 0px;	
 
}
#tt {
/*	position: absolute;*/
	z-index: 0;
}
#divWrap {
	position: fixed;
	/*position: absolute;*/
	overflow: hidden;
	border: 0px;
}


